* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2, p {
  text-redering: optimizeLegibillity;
  -moz-font-feature-settings: "dlig";
  color: #1e1e1e;
}

header {
  margin-top: 3em;
  margin-bottom: 2em;
}

body {
  border-top: 1em solid #96bee3;
  background: #fafafa;
  font-family: georgia;
  padding: 0em 5%;
}
@media (min-width: 30em) {
  body {
    padding: 2em 20%;
  }
}

.issue {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background: #96bee3;
}
@media (min-width: 30em) {
  .issue {
    width: auto;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    top: 1em;
    left: 2%;
  }
}
.issue p {
  color: white;
  padding: .5em;
  font-style: italic;
}
.issue span {
  font-style: normal;
}
@media (min-width: 30em) {
  .issue span {
    border-top: 2px dotted white;
    display: block;
    font-size: 2em;
    margin-top: .2em;
  }
}

.author {
  text-align: center;
  color: gray;
}
.author span {
  padding-bottom: .2em;
  border-bottom: 1px solid lightgray;
}

sup {
  vertical-align: super;
}

h1 {
  font-size: 2em;
  padding-bottom: .5em;
  text-align: center;
}
@media (min-width: 30em) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: .04em;
  padding: .5em 0;
}

main p {
  line-height: 1.55em;
  padding-bottom: 1em;
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.intro:first-letter {
  font-size: 3em;
  float: left;
  display: block;
  line-height: 1;
  padding: .1em;
}

em {
  font-style: italic;
}

footer {
  border-top: 5px solid #f0f0f0;
  color: gray;
  font-size: .8em;
  padding-top: 3em;
}

ol {
  list-style: decimal inside;
}
