         </article>
        </div>
       </div>
      </div>
     </main>
     <div class="aholder">
      <aside class="jtaSidebar-cont">
       <div class="jtaSidebar">
        <div class="jtaSidebar-inner">
         <nav class="float-links">
          <ul>
          <li><i class="fa">&#xf0a8;</i> <b>Previous Topic:</b><br /><a class="n" href="docs/pa.clauncher.nsi/extending" title="Extending">Extending</a></li> 
          <li><i class="fa">&#xf015;</i> <b>Parent Topic:</b><br /><a class="n" href="docs/final-thoughts" title="Final Touches">Final Touches</a></li> 
          <li><i class="fa">&#xf0a9;</i> <b>Next Topic:</b><br /><a class="n" href="docs/final-thoughts/thanks" title="Thanks">Thanks</a></li>
          </ul>
         </nav>
        </div>
        <div class="jtaSidebar-inner anchors-away" style="width: 169px;">
        </div>
       </div>
      </aside>
     </div>
    </div>
