   <header class="menubar">
    <div class="container">
     <div id="hamburger-toggle">
      <div class="hamburger" id="hamburger">
       <span class="line"></span>
       <span class="line"></span>
       <span class="line"></span>
      </div>
     </div>
     <nav>
      <ul>
       <li class="login-trigger">
        <a href="https://github.com/demondevin/pal-docs"><i class="fa fa-github"></i> GitHub</a>
        <div class="login-content">
         BOO!
        </div>
       </li>
       <li>
        <a href="{{ site.baseurl }}{% link help.html %}"><i class="fa fa-question-circle"></i> Help</a>
       </li>
      </ul>
     </nav>
    </div>
   </header>
