    <div class='wrapper'>
     <div class="sidebar">
      <div class="stitle">
       navigate
      </div>
      <div id="sidebar">
       <ul class="nav">
        <li class="active"><a href="docs/preface" title="Preface">Preface</a></li>
        <li class="sub-menu"><a href="javascript:void(0);" title="Getting Started">Getting Started</a>
         <ul>
          <li><a href="docs/getting-started/begin" title="To Begin">To Begin</a></li>
          <li><a href="docs/getting-started/advantages" title="PAF Advantages">Advantages</a></li>
          <li><a href="docs/getting-started/virtualization" title="Virtualization">Virtualization</a></li>
          <li><a href="docs/getting-started/toolbelt" title="Tools of the Trade">Tools</a></li>
          <li><a href="docs/getting-started/dev-outline" title="Development Outline">Outline</a></li>
          <li><a href="docs/getting-started/template" title="Application Template">Template</a></li>
          <li><a href="docs/getting-started/paths" title="Paths">Paths</a></li>
          <li><a href="docs/getting-started/virtualstore" title="VirtualStore">VirtualStore</a></li>
         </ul>
        </li>
        <li class="sub-menu"><a href="javascript:void(0);" title="Basics">Basics</a>
         <ul>
          <li><a href="docs/basics/workspace" title="Your Work Environment">Workspace</a></li>
          <li><a href="docs/basics/snapshots" title="Capturing Snapshots">Snapshots</a></li>
          <li><a href="docs/basics/windows-registry" title="Windows Registry">The Registry</a></li>
          <li><a href="docs/basics/file-system" title="File System">File System</a></li>
          <li><a href="docs/basics/compile-commands" title="Compile Commands">Compile Cmds</a></li>
          <li><a href="docs/basics/macros" title="Macros">Macros</a></li>
          <li><a href="docs/basics/functions" title="Functions">Functions</a></li>
          <li><a href="docs/basics/labels-and-jumps" title="Labels and Jumps">Labels/Jumps</a></li>
         </ul>
        </li>
        <li class="sub-menu"><a href="javascript:void(0);" title="Advanced">Advanced</a>
         <ul>
          <li><a href="docs/advanced/uac" title="UAC">UAC</a></li>
          <li><a href="docs/advanced/regdll-and-regsrv32" title="RegDLL & RegSrv32">Register DLLs</a></li>
          <li><a href="docs/advanced/services" title="Windows Services">Services</a></li>
          <li><a href="docs/advanced/dotnet" title="DotNET">DotNET</a></li>
          <li><a href="docs/advanced/scheduled-tasks" title="Scheduled Tasks">Windows Tasks</a></li>
          <li><a href="docs/advanced/snippets" title="Code Snippets">Useful Snippets</a></li>
          <li><a href="docs/advanced/signing" title="Digital Signatures">Code Signing</a></li>
         </ul>
        </li>
        <li class="sub-menu"><a href="javascript:void(0);" title="custom.nsh">custom.nsh</a>
         <ul>
          <li><a href="docs/custom.nsh/overview" title="Overview">Overview</a></li>
         </ul>
        </li>
        <li class="sub-menu"><a href="javascript:void(0);" title="PA.cLauncher.nsi">PA.cLauncher.nsi</a>
         <ul>
          <li><a href="docs/pa.clauncher.nsi/overview" title="Overview">Overview</a></li>
          <li><a href="docs/pa.clauncher.nsi/extending" title="Extending">Extending</a></li>
         </ul>
        </li>
        <li class="sub-menu"><a href="javascript:void(0);" title="Final Thoughts">Final Touches</a>
         <ul>
          <li><a href="docs/final-thoughts/conclusion" title="Conclusion">Troubleshoot</a></li>
          <li><a href="docs/final-thoughts/thanks" title="Thanks">Thanks</a></li>
         </ul>
        </li>
       </ul>
      </div>
     </div>
